In [167]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [168]:
df=pd.read_csv("C:/Users/dell/Downloads/100-days-of-machine-learning-main/day26-ordinal-encoding/customer.csv")

In [169]:
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        50 non-null     int64
 1   gender     50 non-null     object
 2   review     50 non-null     object
 3   education  50 non-null     object
 4   purchased  50 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.1+ KB

In [171]:
from  sklearn.compose import ColumnTransformer

In [172]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [173]:
transform=ColumnTransformer(transformers=[
    ("tnf1",OrdinalEncoder(categories=[["Poor","Average","Good"],["School","UG","PG"]]),[1,2]),
    ("tnf2",OneHotEncoder(sparse_output=False,drop="first"),[0])
],remainder="passthrough")

In [174]:
from sklearn.model_selection import train_test_split

In [175]:
X_train,X_test,y_train,y_test=train_test_split(df.drop(columns=["age","purchased"]),df["purchased"],test_size=0.2,random_state=0)

In [176]:
X_train_transformed=transform.fit_transform(X_train)

In [177]:
X_train_transformed=pd.DataFrame(X_train_transformed,columns=X_train.columns)

In [178]:
X_train_transformed

    gender  review  education
0      2.0     2.0        0.0
1      0.0     0.0        1.0
2      0.0     2.0        0.0
3      1.0     0.0        1.0
4      2.0     0.0        1.0
5      0.0     0.0        0.0
6      0.0     2.0        1.0
7      0.0     2.0        1.0
8      2.0     1.0        0.0
9      1.0     1.0        0.0
10     0.0     1.0        1.0
11     1.0     1.0        1.0
12     1.0     1.0        1.0
13     0.0     1.0        1.0
14     2.0     2.0        0.0
15     1.0     0.0        0.0
16     0.0     2.0        1.0
17     1.0     1.0        0.0
18     1.0     0.0        0.0
19     2.0     0.0        0.0
20     1.0     0.0        0.0
21     0.0     1.0        0.0
22     2.0     0.0        1.0
23     2.0     1.0        0.0
24     0.0     1.0        0.0
25     0.0     0.0        1.0
26     1.0     2.0        1.0
27     1.0     2.0        0.0
28     2.0     0.0        1.0
29     2.0     0.0        0.0
30     2.0     1.0        0.0
31     1.0     2.0        1.0
32     0.0     2.0        1.0
33     2.0     1.0        1.0
34     0.0     2.0        1.0
35     0.0     2.0        0.0
36     2.0     2.0        0.0
37     1.0     0.0        0.0
38     2.0     2.0        0.0
39     1.0     1.0        0.0